﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FW Change Request</title>
    <style>
        p.Paragraphhead {
            font-weight: bold;
            font-size: larger;
        }

        p.Paragraphhead2 {
            text-decoration-line: underline;
        }

        p.ParagraphheadCentered {
            font-weight: bold;
            font-size: larger;
            text-align: center
        }

        p.listtitle {
            margin-bottom: 0px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            text-align: center;
            background-color: lightgray;
            color: mediumpurple;
        }
    </style>
</head>

<body>
    <p class=ParagraphheadCentered>Firewall Change Request Form</p>
    <p class=Paragraphhead>Instructions</p>
    <ul>
        <li>Sections 1- 3 are completed by ITID Firewall Engineering team (with the help of Business), except the fields with titles in Green which is filled by ITS Network Security Team</li>
        <li>All fields with titles in purple should be completed. If not applicable, indicate with a dash, e.g. -</li>
        <li>Incomplete or inaccurate information within the form may cause delays in obtaining approval</li>
    </ul>
    </br>

    <table id="tbl0" width="800px">
        <tr>
            <td width="25%">WhoIsThisFor</td>
            <td>{{ cfgIn['Section 0']['WhoIsThisFor'] }}</td>
        </tr>
        <tr>
            <td>Approver</td>
            <td>{{ cfgIn['Section 0']['Approver'] }}</td>
        </tr>
        <tr>
            <td>ProjectAppName</td>
            <td>{{ cfgIn['Section 0']['ProjectAppName'] }}</td>
        </tr>
    </table>
    </br>


    <p class=Paragraphhead></br>Section 1 – Business Information for the Request</p>
    <table id="tbl1" width="800px">
        <caption style="font-weight: bold; text-align: left">General Information (requestor to telecoms should provide this information)</caption>
        <tr>
            <td width="30%">Description</td>
            <td>{{ cfgIn['Section 1']['Description'] }}</td>
        </tr>
        <tr>
            <td>BusinessJustification</td>
            <td>{{ cfgIn['Section 1']['BusinessJustification'] }}</td>
        </tr>
    </table>
    </br>


    <p class=Paragraphhead>Section 2 – Change Summary</p>
    <table id="tbl2" width="800px">
        <caption style="font-weight: bold; text-align: left"></br>Change Implementation (telecoms should obtain this information)</br></caption>
        <tr>
            <td width="30%">ChangeTicket</td>
            <td>{{ cfgIn['Section 2']['ChangeTicket'] }}</td>
        </tr>
        <tr>
            <td>Impact</td>
            <td>{{ cfgIn['Section 2']['Impact'] }}</td>
        </tr>
        <tr>
            <td>Environment</td>
            <td>{{ cfgIn['Section 2']['Environment'] }}</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>{{ cfgIn['Section 2']['Region'] }}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{ cfgIn['Section 2']['Priority'] }}</td>
        </tr>
    </table>
    </br>


    <p class=Paragraphhead>Section 3 – Change Details</p>
    <p class=Paragraphhead2>3.1 Firewall Rules</p>
    <p class="listtitle">What each section is for</p>
    <ul>
        <li>Section 3.1.1 enter information of the network objects and services to be added, amended or deleted or those that exist in the rules to be amended. The section should include group names when new groups are defined, and the details of the groups should be placed in section 3.1.2</li>
        <li>Section 3.1.2 is to define the group membership for network groups and service groups.</li>
        <li>Section 3.1.3 is to define the rules being created. This section should be duplicated for each firewall policy.</li>
        <li>Section 3.1.4 is to define the nat rules being created. This section should be duplicated for each firewall policy.</li>
    </ul>
    </br>
    <p class="listtitle">Use the colour coding here in sections 3.1.1, 3.1.2, 3.1.3 and 3.1.4</p>
    <ul>
        <li><span style="color:blue; font-weight:bold">Blue</span> = New Objects</li>
        <li><span style="color:green; font-weight:bold">Green</span> = Amended Objects</li>
        <li><span style="color:red; font-weight:bold">Red</span> = Deleted Objects</li>
        <li><span style="color:black; font-weight:bold">Black</span> = Objects that are not be changed</li>
    </ul>
    </br>

    <p class=Paragraphhead2>3.1.1 Define Objects/Groups used in rules</p>
    <p class="listtitle">Fields</p>
    <ul>
        <li><b>CMA Name:</b> this should be the CMA used for the firewalls that will be updated, for multi-CMA change this will differ within the table</li>
        <li><b>Object Name:</b> the name to be used within the Check Point Management platform for the object being created</li>
        <li><b>Details:</b> for IP objects, the IP address, or network subnet, for services this should be TPC/xxx or UDP/xxx. For groups this should be set as &lt;group&gt;</li>
        <li><b>Zone:</b> for IP objects should be based on values of &lt;Internal, iDMZ, eDMZ, Extranet, Internet or HSBC Cloud&gt;. For service objects this is not applicable.</li>
        <li><b>Action:</b> should be specified as &lt;<b>Add</b> for new rules, <b>Edit</b> for existing and <b>Delete</b> for removals. <b>No Change</b> should be used for showing context if no rule change is being made&gt;</li>
        <li><b>Comment:</b> Use the comments field to indicate additional information to help approval</li>
    </ul>
    </br>
    <table id="tbl311">
        <tr>
            <th width="120">CMA Name</th>
            <th width="150">Object Name</th>
            <th width="120">Details</th>
            <th width="100">Color</th>
            <th width="100">NAT</th>
            <th width="150">Valid IP Address</th>
            <th width="120">Zone</th>
            <th width="100">Action</th>
            <th width="150">Comment</th>
        </tr>
        {% for item in tbl311 %}
        <tr>
            <td>{{ item.CMAName }}</td>
            <td>{{ item.ObjectName }}</td>
            <td>{{ item.Details }}</td>
            <td style="color: {{ item.Color }};">{{ item.Color }}</td>
            <td>{{ item.NAT }}</td>
            <td>{{ item.ValidIP }}</td>
            <td>{{ item.Zone }}</td>
            <td>{{ item.Action }}</td>
            <td>{{ item.Comment }}</td>
        </tr>
        {% endfor %}
    </table>
    </br>

    <p class=Paragraphhead2>3.1.2 Modify Object Membership in Group</p>
    <p>For any groups that are amended indicate the group name, along with the amendments. For a given group, use a single line.</p>
    <p class="listtitle">Fields</p>
    <ul>
        <li><b>CMA Name:</b> this should be the CMA used for the firewalls that will be updated, for multi-CMA change this will differ within the table</li>
        <li><b>Group Name:</b> the name to be used within the Check Point Management platform for the object being created</li>
        <li><b>Details:</b> for IP objects this should be a list of objects from table 3.1.1 that are used in the group.</li>
        <li>
            <b>Action:</b> should be specified as &lt;<b>Add</b> for new rules, <b>Edit</b> for existing and <b>Delete</b> for removals. <b>No Change</b> should be used for showing context if no rule change is being made&gt;.<br />
            If multiple changes are being made to a group, e.g. add two objects, remove one object, then this should be indicated with two lines in the table.
        </li>
        <li><b>Comment:</b> Use the comments field to indicate additional information to help approval</li>
    </ul>
    </br>
    <table id="tbl312">
        <tr>
            <th width="120">CMA Name</th>
            <th width="120">Group Name</th>
            <th width="120">Details</th>
            <th width="120">Action</th>
            <th width="120">Comments</th>
        </tr>
        {% for item in tbl312 %}
        <tr>
            <td>{{ item.CMAName }}</td>
            <td>{{ item.GroupName }}</td>
            <td>{{ item.Details }}</td>
            <td>{{ item.Action }}</td>
            <td>{{ item.Comment }}</td>
        </tr>
        {% endfor %}
    </table>
    </br>

    <p class=Paragraphhead2>3.1.3 Firewall Policies - Access Rules</p>
    <p>Repeat the details of this section for each firewall that is to be defined. This section MUST be filled out prior to requesting approval.</p>
    <p class="listtitle">Fields</p>
    <ul>
        <li>
            <b>Service Name:</b> should be obtained from requestor and should relate to the PLADA name for a service.
            This will need to be entered into the comments field of the rules when created in the following format Service:&lt;Server Name&gt;;<br />
            ; For example, <i>Service:FIREWALL-MANAGEMENT</i>;
        </li>
        <li><b>Source:</b> The objects should be defined and shown from table 3.1.1. Best practice, single object per rule, more than one object, use a group</li>
        <li><b>Destination:</b> The objects should be defined and shown from table 3.1.1. Best practice, single object per rule, more than one object, use a group</li>
        <li><b>Zones:</b> should only be based on values of &lt;Internal, iDMZ, eDMZ, Extranet, Internet or HSBC Cloud&gt;</li>
        <li><b>Protocols:</b> Should be based on objects shown in table 3.1.1. Note that 3.1.2 defines group amendments.</li>
        <li><b>Action:</b> should be specified as &lt;<b>Add</b> for new rules, <b>Edit</b> for existing and <b>Delete</b> for removals. <b>No Change</b> should be used for showing context if no rule change is being made&gt;</li>
        <li><b>Comment and Rule Number:</b> Use the comments field to indicate where the rule should appear within the current policy. A simple comment can be included if needed to describe the rule.</li>
        <li><b>Severity:</b> this is for use by cyber security.</li>
    </ul>
    </br>
    <table id="tbl313">
        <tr>
            <th width="120" rowspan="2">CMA Name</th>
            <th width="120" rowspan="2">Package</th>
            <th width="100" rowspan="2">Rule</br>Position</th>
            <th width="100" rowspan="2">Service</br>Name</th>
            <th colspan="2">Source</th>
            <th colspan="2">Destination</th>
            <th width="100" rowspan="2">Protocols</th>
            <th width="100" rowspan="2">Action</th>
            <th width="200" rowspan="2">Comment and Rule number</th>
            <th width="100" rowspan="2" style="border-color: red;">Severity</th>
        </tr>
        <tr>
            <th width="160">Objects</th>
            <th width="80">Zone</th>
            <th width="160">Objects</th>
            <th width="80">Zone</th>
        </tr>
        {% for item in tbl313 %}
        <tr>
            <td>{{ item.CMAName }}</td>
            <td>{{ item.pkgName }}</td>
            <td>{{ item.RulePosition }}</td>
            <td>{{ item.ServiceName }}</td>
            <td>{{ item.SourceObjects }}</td>
            <td>{{ item.SourceZone }}</td>
            <td>{{ item.DestinationObjects }}</td>
            <td>{{ item.DestinationZone }}</td>
            <td>{{ item.Protocols }}</td>
            <td>{{ item.Action }}</td>
            <td>{{ item.CommentRuleNo }}</td>
            <td style="border-color: red;"></td>
        </tr>
        {% endfor %}
    </table>
    </br>

    <p class=Paragraphhead2>3.1.4 Firewall Translation Rules</p>
    <p>Repeat the details of this section for each firewall that has a NAT definition. This section MUST be filled out prior to requesting approval</p>
    <p class="listtitle">Fields</p>
    <ul>
        <li><b>Source:</b> The objects should be defined and shown from table 3.1.1. Best practice this should match the rule in section 3.1.3</li>
        <li><b>Destination:</b> The objects should be defined and shown from table 3.1.1. Best practice this should match the rule in section 3.1.3</li>
        <li><b>Translated Source:</b> the objects should be defined in section 3.1.1. Where translation of source is not applied use the value –original-</li>
        <li><b>Translated Destination:</b> the objects should be defined in section 3.1.1. Where translation of destination is not applied use the value –original-</li>
        <li><b>Action:</b> should be specified as &lt;Add for new rules, Edit for existing and Delete for removals. No Change should be used for showing context if no rule change is being made&gt;</li>
        <li><b>Comment and Rule Number:</b> Use the comments field to indicate where the rule should appear within the current policy. A simple comment can be included if needed to describe the rule.</li>
    </ul>
    </br>

    <p><b>Firewall:</b> &lt;CMA Name&gt;, &lt;Insert Firewall Policy Name&gt;, &lt;Insert Individual Firewall Names&gt;</p>
    <p><b>Description:</b> Enter a summary of why these particular NAT rules are being created.</p>
    <table id="tbl314">
        <tr>
            <th width="120">CMA Name</th>
            <th width="120">Package</th>
            <th width="100">Rule Position</th>
            <th width="140">Source</th>
            <th width="140">Destination</th>
            <th width="140">Translated Source</th>
            <th width="140">Translated Destination</th>
            <th width="120">Action</th>
            <th width="160">Comments and Rule Number</th>
        </tr>
        {% for item in tbl314 %}
        <tr>
            <td>{{ item.CMAName }}</td>
            <td>{{ item.pkgName }}</td>
            <td>{{ item.RulePosition }}</td>
            <td>{{ item.Source }}</td>
            <td>{{ item.Destination }}</td>
            <td>{{ item.TranslatedSource }}</td>
            <td>{{ item.TranslatedDestination }}</td>
            <td>{{ item.Action }}</td>
            <td>{{ item.CommentRuleNo }}</td>
        </tr>
        {% endfor %}
    </table>
    </br>


</body>
</html>
